:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.header {
    padding: 20px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 60px;
}
.links {
    position: relative;
    z-index: 1;
}
span.icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icon span {
    background-color: #333;
    height: 2px;
    margin: 0 0 5px;
}
.icon span:first-child, .icon span:last-child {
    width: 100%;
}
.icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.links:hover .icon span:nth-child(2) {
    width: 100%;
}
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 200px;
    background-color: var(--section-background);
    top: calc(100% + 15px );
    right: 0;
    display: none;
}
.links:hover ul {
    display: block;
}
.links ul::after {
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent var(--section-background) transparent;
    top: -30px;
    right: 0;
}
.links li {
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.links li:hover {
    padding-left: 30px;
}
.links a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
}
.links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.intro-text {
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-width: 100%;
    text-align: center;
}
.intro-text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
.intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

.features {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    text-align: center;
    padding: 20px;
}
.features .feat i {
    font-size: 48px;
    color: var(--main-color);
}
.features .feat h3 {
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    font-size: 17px;
    color: #777;
}
.special-heading {
    color: #ebeced;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin: -30px;
    font-size: 20px;
    color: #797979;
}
.services {
    padding-top: var(--section-padding);
}
.services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px;
    }
}
.services i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 32px;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    gap: 30px;
}
.services-content h3 {
    margin: 0;
}
.services-content p {
    color: #444;
    line-height: 1.8;
    font-weight: 300px;
}
.services .text {
    flex: 1;
}
.services .image {
    text-align: center;
    position: relative;
}
.services .image::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    height: calc(100% + 100px);
    width: 100px;
    background-color: var(--secondary-color);
    z-index: -1;
}
.services img {
    width: 260px;
}
@media (max-width:1199px) {
    .services .image {
        display: none;
    }
}

/* start portfolio */
.portfolio {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    gap: 30px;
}
.portfolio-content .info {
    padding-left: 20px;
}
.portfolio-content img {
    width: 100%;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content p {
    line-height: 1.6;
    color: #777;
}

/* Start About */
.about {
    padding: var(--section-padding) 0;
}
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .about-content {
        text-align: center;
        flex-direction: column;
    }
    .about-content .image {
        margin: 50px auto;
    }
    .about-content .image::after,
    .about-content .image::before {
        display: none;
    }
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}
.about-content .image::after {
    content: "";
    position: absolute;
    left: -20px;
    top: -30px;
    height: calc(100% + 60px);
    width: 100px;
    background-color: #ebeced;
    z-index: -1;
}
.about-content .image::before {
    content: "";
    position: absolute;
    right: -65%;
    top: -10%;
    height: calc(100% - 110px);
    width: 140px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
.about-content img {
    max-width: 100%;
}
.about-content p:first-of-type {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 50px;
}
.about-content p:last-of-type {
    line-height: 1.8;
    color: #777;
}
.about-content hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.contact-content {
    margin-top: 100px;
    margin-left: 180px;
}
.contact-content label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
}
.contact-content h1 a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    margin-left: 35px;
}
.contact-content p {
    margin-left: 105px;
    margin-top: 45px;
}
.contact-content i {
    margin-left: 20px;
    color: black;
}

@media (max-width:1199px) {
    .contact-content {
        margin-left: 100px;
    }
}
@media (max-width:991px) {
    .contact-content {
        margin-left: 0;
    }
}
@media (max-width:767px) {
    .contact-content label {
        font-size: 26px;
        letter-spacing: -2px;
    }
    .contact-content h1 a {
        margin-left: 0;
        font-size: 25px;
    }
    .contact-content p {
        margin: 0;
        letter-spacing: -1px;
    }
    .contact-content {
        text-align: center;
    }
    .contact-content i {
        margin-left: 5px;
    }
}

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 30px 0;
    color: white;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}